.btn__style {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5%;
  background-color: #008e94;
  transition: all 2s ease;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.btn__style:hover {
  background-color: black;
  cursor: pointer;
}
.btn__style:focus {
  outline-style: solid;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__position {
  position: sticky;
  top: 0;
  z-index: 2;
}
.header__position .bg__component {
  background-image: linear-gradient(to top, #0e3a5a, black);
  background-color: #0e3a5a;
}
.header__position .bg__component .header {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  text-align: center;
}
.header__position .bg__component .header a .image__logo {
  width: 70%;
}
.header__position .bg__component .header .popular__btn {
  font-size: 1.3rem;
  background-color: #008e94;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.header__position .bg__component .header .popular__btn:hover {
  background-color: #025053;
}
.header__position .bg__component .header .active {
  background-color: #025053;
  border: 1px solid #008e94;
  padding: 0.3rem;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.header__position .bg__component .header .active__btn {
  background-color: #025053;
}
.header__position .bg__component #navbarSupportedContent ul .nav-item a {
  color: white;
}

.footer__content {
  background-image: linear-gradient(to bottom, #0e3a5a, black);
  overflow: hidden;
  padding: 1rem 0;
}
.footer__content .footer__inside {
  background-color: #212121;
  padding: 2.5rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.footer__content .footer__inside .footer__icons a i {
  color: white;
  font-size: 1.8rem;
  margin-left: 1rem;
}
.footer__content .footer__inside .footer__icons a i:hover {
  color: #008e94;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f1ff;
  width: 100%;
  margin: 0 auto;
}

div .logo__title {
  align-items: center;
}
div .logo__title .title__principal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
div .logo__title .title__principal h1 {
  color: #008e94;
}
div .logo__title .title__principal img {
  width: 20%;
  animation: from-right 1.5s ease;
}
div .carrousel {
  margin: 0 auto;
  width: 100%;
}
div .carousel-control-prev-icon {
  background-color: #008e94;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
div .carousel-control-next-icon {
  background-color: #008e94;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
div .title__section {
  text-transform: uppercase;
  color: #008e94;
  margin-bottom: 2rem;
}
div .style__links {
  text-decoration: none;
  color: white;
}
div .style__links .popular__btn {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5%;
  background-color: #008e94;
  transition: all 2s ease;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
div .style__links .popular__btn:hover {
  background-color: black;
  cursor: pointer;
}
div .style__links .popular__btn:focus {
  outline-style: solid;
}
div .work__content {
  font-family: "Quicksand", sans-serif;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  padding: 2rem 1rem 1rem 1rem;
}
div .work__content .work__content--p1 {
  margin-bottom: 2rem;
  color: #404040;
}
div .work__content .work__content--p2 {
  margin-bottom: 2rem;
  font-weight: bold;
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(120px);
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}
@media (min-width: 768px) {
  .header__nav {
    align-items: center;
    margin: 0 auto;
  }
  .footer__copy {
    color: white;
  }
}
.product__title {
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.product__card {
  display: flex;
  justify-content: center;
}
.product__card .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.product__card .card a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5%;
  background-color: #008e94;
  transition: all 2s ease;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.product__card .card a:hover {
  background-color: black;
  cursor: pointer;
}
.product__card .card a:focus {
  outline-style: solid;
}
.product__card .card div h5 {
  color: #008e94;
}
.product__card .card div .card-text {
  color: rgb(87, 86, 86);
}
.product__card .card div .product__price {
  color: #0e3a5a;
}

.about__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.about__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__main .about__image {
  width: 100%;
  margin-bottom: 2rem;
}
.about__main .about__image img {
  width: 80%;
  border-radius: 3%;
}
.about__main .about__content {
  width: 100%;
}
.about__main .about__content .about__title--color {
  color: #008e94;
}
.about__main .about__content .about__subtitle {
  margin: 1rem;
  text-align: center;
  font-size: 20px;
}
.about__main .about__content p {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: larger;
}
.about__main .about__content .about__text--italic {
  font-style: italic;
}

.about__video {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about__video iframe {
  width: 80%;
  height: 25rem;
}

/* Media queries */
@media (min-width: 980px) {
  .about__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .about__main .about__image {
    width: 100%;
    margin: 0 2rem;
  }
  .about__main .about__image img {
    width: 110%;
  }
  .about__content {
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: white;
    position: relative;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  }
  .about__video {
    margin: 0 auto;
    width: 80%;
  }
}
.row__bg {
  border-radius: 10%;
  padding: 6rem 1rem;
  background-color: rgb(190, 232, 244);
  margin-bottom: 10rem;
  align-items: center;
}
.row__bg div .sell__title {
  color: #0e3a5a;
  text-transform: uppercase;
}
.row__bg div img {
  margin-top: 2rem;
  width: 100%;
}
.row__bg .sell__form {
  padding: 1rem 3rem;
  background-color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.row__bg .sell__form .sell__input {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.row__bg .sell__form .sell__input input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.row__bg .sell__form .sell__radio {
  margin-bottom: 1.5rem;
}
.row__bg .sell__form .sell__radio h5 {
  text-decoration: underline;
  display: flex;
  justify-content: start;
}
.row__bg .sell__form .sell__radio .form-radio {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 800;
  font-family: "IM Fell DW Pica", serif;
  font-style: italic;
  font-size: 1.2rem;
}
.row__bg .sell__form .sell__checks {
  margin-bottom: 1.5rem;
}
.row__bg .sell__form .sell__checks h5 {
  text-decoration: underline;
  display: flex;
  justify-content: start;
}
.row__bg .sell__form .sell__checks .form-check {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 800;
  font-family: "IM Fell DW Pica", serif;
  font-style: italic;
  font-size: 1.2rem;
}
.row__bg .sell__form a {
  padding: 2rem;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5%;
  background-color: #008e94;
  transition: all 2s ease;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.row__bg .sell__form a:hover {
  background-color: black;
  cursor: pointer;
}
.row__bg .sell__form a:focus {
  outline-style: solid;
}

.sell__testimonials {
  margin-bottom: 10rem;
}
.sell__testimonials .sell__card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.sell__testimonials h4 {
  font-weight: 800;
  font-family: "IM Fell DW Pica", serif;
  font-style: italic;
}
.sell__testimonials h2 {
  color: #0e3a5a;
  margin-bottom: 1.5rem;
}

.sell__ad {
  margin-bottom: 10rem;
  align-items: center;
}
.sell__ad div h4 {
  font-weight: 800;
  font-family: "IM Fell DW Pica", serif;
  font-style: italic;
}
.sell__ad div h2 {
  color: #0e3a5a;
  margin-bottom: 1.5rem;
}
.sell__ad div p {
  font-weight: 800;
  font-family: "Rubik", sans-serif;
}
.sell__ad div .sell__msg {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.sell__ad div .sell__btn {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5%;
  background-color: #008e94;
  transition: all 2s ease;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.sell__ad div .sell__btn:hover {
  background-color: black;
  cursor: pointer;
}
.sell__ad div .sell__btn:focus {
  outline-style: solid;
}
.sell__ad div img {
  width: 100%;
}

.title__section div {
  text-transform: uppercase;
}

.main__cuenta div form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main__cuenta div form a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5%;
  background-color: #008e94;
  transition: all 2s ease;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.main__cuenta div form a:hover {
  background-color: black;
  cursor: pointer;
}
.main__cuenta div form a:focus {
  outline-style: solid;
}

.cart__cont {
  margin: 3rem;
}
.cart__cont div {
  display: flex;
  flex-direction: column;
}
.cart__cont div h1 {
  text-transform: uppercase;
  color: #008e94;
  margin-bottom: 2rem;
}
.cart__cont div img {
  width: 100%;
  padding: 0.3rem;
  background-color: #008e94;
  margin-bottom: 2rem;
}
.cart__cont div h4 {
  color: #d32752;
  margin-bottom: 2rem;
}
.cart__cont div h4 span {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.8rem;
}
.cart__cont div h6 {
  margin-bottom: 2rem;
}
.cart__cont div a button {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5%;
  background-color: #008e94;
  transition: all 2s ease;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.cart__cont div a button:hover {
  background-color: black;
  cursor: pointer;
}
.cart__cont div a button:focus {
  outline-style: solid;
}

.cart__contact .form-group {
  margin-bottom: 2rem;
}
.cart__contact a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5%;
  background-color: #008e94;
  transition: all 2s ease;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  margin-left: 2rem;
}
.cart__contact a:hover {
  background-color: black;
  cursor: pointer;
}
.cart__contact a:focus {
  outline-style: solid;
}

@media (min-width: 980px) {
  .cart__contact {
    padding: 0rem 10rem;
  }
}

/*# sourceMappingURL=styles.css.map */
