* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f1ff;
  width: 100%;
  margin: 0 auto;
  h1 {
    @include title__page;
  }
}

.header__position {
  position: sticky;
  top: 0;
  z-index: 2;
  .bg__component {
    background-image: linear-gradient(to top, $back-color, black);
    background-color: $back-color;
    .header {
      display: flex;
      justify-content: space-around;
      text-align: center;

      a {
        .image__logo {
          width: 65%;
        }
      }
      .popular__btn {
        @include btn__style;
      }

      .active {
        background-color: $secondary-color;
        border: 1px solid $primary-color;
        padding: 0.3rem;
        border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
      }
      .active__btn {
        background-color: $secondary-color;
      }
    }
    #navbarSupportedContent {
      ul {
        .nav-item a {
          color: white;
        }
      }
    }
  }
}

.footer__content {
  background-image: linear-gradient(to bottom, $back-color, black);
  overflow: hidden;
  padding: 1rem 0;
  .footer__inside {
    background-color: #212121;
    padding: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    .footer__icons {
      a {
        i {
          color: white;
          font-size: 1.8rem;
          margin-left: 1rem;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  .footer__copy {
    color: white;
    text-align: center;
  }
}
