div {
  .logo__title {
    align-items: center;
    .title__principal {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;
      h1 {
        color: $primary-color;
      }
      img {
        width: 20%;
        animation: from-right 1.5s ease;
      }
    }
  }

  // carrousel

  .carrousel {
    margin: 0 auto;
    width: 100%;
  }

  .carousel-control-prev-icon {
    background-color: $primary-color;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .carousel-control-next-icon {
    background-color: $primary-color;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .title__section {
    @include title__section;
  }
  .style__links {
    text-decoration: none;
    color: white;
    .popular__btn {
      @include btn__style;
    }
  }
  .work__content {
    font-family: "Quicksand", sans-serif;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: $sombreado;
    padding: 2rem 1rem 1rem 1rem;
    .work__content--p1 {
      margin-bottom: 2rem;
      color: #404040;
    }
    .work__content--p2 {
      margin-bottom: 2rem;
      font-weight: bold;
    }
  }
}

// ANIMACIONES

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(120px);
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .header__nav {
    align-items: center;
    margin: 0 auto;
  }

  .footer__copy {
    color: white;
  }
}
