.product__title {
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.product__card {
  display: flex;
  justify-content: center;
  &:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    position: relative;
  }
  .card {
    img {
      margin: auto;
      width: 80%;
    }

    .card-body {
      // background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    a {
      @include btn__style;
    }
    div {
      h5 {
        color: $primary-color;
      }
      .card-text {
        color: rgb(87, 86, 86);
      }
      .product__price {
        color: $back-color;
      }
    }
  }
}
