.product__title {
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.product__card {
  display: flex;
  justify-content: center;
  .card {
    .card-body {
      //   background-color: red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    a {
      @include btn__style;
    }
    div {
      h5 {
        color: $primary-color;
      }
      .card-text {
        color: rgb(87, 86, 86);
      }
      .product__price {
        color: $back-color;
      }
    }
  }
}
