$primary-color: #008e94;
$secondary-color: #025053;
$back-color: #0e3a5a;
$grad-color: #05243a;
$error: #d32752;
$info: #f6c31c;
$sombreado: 2px 2px 5px 1px rgb(0 0 0 / 30%);
$sizeletters: 1rem;

//color palette

$colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "error": $error,
  "info": $info,
  "blue": #1919e6,
  "red": #e61919,
  "green": #19e619,
  "white": white,
  "black": black,
);

// fonts

$pre-title: "IM Fell DW Pica", serif;
$sell-p: "Rubik", sans-serif;

@mixin title__section {
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 2rem;
}

@mixin sub__title {
  font-weight: 800;
  font-family: $pre-title;
  font-style: italic;
}

@mixin btn__style($bg-color: #008e94) {
  text-decoration: none;
  font-size: $sizeletters;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5%;
  background-color: $bg-color;
  transition: all 2s ease;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  &:hover {
    background-color: black;
    cursor: pointer;
  }
  &:focus {
    outline-style: solid;
  }
}

.btn__style {
  @include btn__style;
}
