.row__bg {
  border-radius: 10%;
  padding: 10rem 1rem;
  background-color: rgb(190, 232, 244);
  margin-bottom: 10rem;
  div {
    .sell__title {
      color: $primary-color;
      text-transform: uppercase;
    }
    img {
      width: 100%;
    }
  }
  .sell__form {
    .sell__input input {
      margin-bottom: 1rem;
    }
    a {
      @include btn__style;
    }
  }
}

.sell__testimonials {
  margin-bottom: 10rem;

  .sell__card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  h4 {
    @include sub__title;
  }
  h2 {
    color: $back-color;
    margin-bottom: 1.5rem;
  }
}

.sell__ad {
  margin-bottom: 10rem;
  align-items: center;
  div {
    h4 {
      @include sub__title;
    }
    h2 {
      color: $back-color;
      margin-bottom: 1.5rem;
    }
    p {
      font-weight: 800;
      font-family: $sell-p;
    }
    .sell__msg {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }
    .sell__btn {
      @include btn__style;
    }
    img {
      width: 100%;
    }
  }
}
