.row__bg {
  border-radius: 10%;
  padding: 6rem 1rem;
  background-color: rgb(190, 232, 244);
  margin-bottom: 10rem;
  align-items: center;
  div {
    .sell__title {
      color: $back-color;
      text-transform: uppercase;
    }
    img {
      margin-top: 2rem;
      width: 100%;
    }
  }
  .sell__form {
    padding: 1rem 3rem;
    background-color: white;
    box-shadow: $sombreado;

    .sell__input {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      input {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    .sell__radio {
      margin-bottom: 1.5rem;
      h5 {
        text-decoration: underline;
        display: flex;
        justify-content: start;
      }
      .form-radio {
        display: flex;
        align-items: center;
        justify-content: start;
        @include sub__title;
        font-size: 1.2rem;
      }
    }
    .sell__checks {
      margin-bottom: 1.5rem;
      h5 {
        text-decoration: underline;
        display: flex;
        justify-content: start;
      }
      .form-check {
        display: flex;
        align-items: center;
        justify-content: start;
        @include sub__title;
        font-size: 1.2rem;
      }
    }
    a {
      padding: 2rem;
      @include btn__style;
    }
  }
}

.sell__testimonials {
  margin-bottom: 10rem;

  .sell__card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  h4 {
    @include sub__title;
  }
  h2 {
    color: $back-color;
    margin-bottom: 1.5rem;
  }
}

.sell__ad {
  margin-bottom: 10rem;
  align-items: center;
  div {
    h4 {
      @include sub__title;
    }
    h2 {
      color: $back-color;
      margin-bottom: 1.5rem;
    }
    p {
      font-weight: 800;
      font-family: $sell-p;
    }
    .sell__msg {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }
    .sell__btn {
      @include btn__style;
    }
    img {
      width: 100%;
    }
  }
}
