/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .popular__btn {
  margin: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #008e94;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
} */

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: center;
  background-color: #0e3a5a;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-link {
  color: white;
}

.btn__color {
  background-color: #008e94;
}
