* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f1ff;
  width: 100%;
  margin: 0 auto;
  max-width: 80%;
  height: 100vh;
}
